{% extends 'core/base.html' %}

{% block title%} About {% endblock %}

{% block meta %}
    <meta name="description" content="The market is where you can find all the products you need.">
    <meta name="author" content="The Market Urrea">
    <meta property="og:title" content="The Market | About">
    <meta property="og:description" content="The market is where you can find all the products you need.">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://themarket.com/about">
{% endblock %}

{% block content %}
    <h1 class="text-2xl">About</h1>
{% endblock %}